services:
  leafy-bank-frontend:
    build:
      context: ./
      dockerfile: Dockerfile.frontend
    image: leafy-bank-frontend-image:latest
    ports:
      - "8080:8080"
    restart: always
    container_name: leafy-bank-frontend-container