.comboBoxWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selectorLabel {
  white-space: nowrap;
  margin-right: 0;
  font-weight: 500;
  font-size: 13px;
}

.riskTooltip {
  margin-right: -5px;
  display: flex;
  align-items: center; 

}