.modalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer{
    padding: 20px;
}

.leafyFeel :global(.modal-content) {
    border-radius: 24px;
}

.centerText {
    text-align: center;
}

.weightNormal {
    font-weight: normal;
}


.usersContainer {
  display: flex;
  flex-wrap: nowrap;          /* ✅ keep everything in one line */
  overflow-x: auto;           /* ✅ enable horizontal scrolling if needed */
  overflow-y: hidden;
  gap: 16px;                  /* spacing between cards */
  justify-content: center;    /* center the cards horizontally */
  padding: 16px 0;
  scroll-behavior: smooth;
  margin: 30px 0px 20px 0px;
}

.usersContainer::-webkit-scrollbar {
  height: 8px;
}

.usersContainer::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 4px;
}

.descriptionModal {
    font-size: 14px;
    display: center;
    text-align: center;
}

.customRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Ensure even space between cards */
}

.modalMainContent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.disabledCloseButton {
    cursor: not-allowed;
    opacity: 0.5;
}

.parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}



/* Remove border-radius when modal is fullscreen */
@media (max-width: 767.98px) {

    /* Corresponds to md-down */
    .leafyFeel :global(.modal-content) {
        border-radius: 0px;
    }
}