.modal{
    z-index: 100;        
    transform: translateZ(0); 
}

.modalTitle{
    display: flex;
}

.modalH3{
    margin-top: 20px;
}

@media (max-width: 708px) {

    .modal{
        width: 100%;
        margin: 0px ;
        
    }


}